<ion-view view-title="Presenters">
  <ion-content>

     <div class="row responsive-md">
        <div class="col">

           <div class="list">
              <a class="item item-avatar" href="#">
                 <img src="../img/profile-rand-fishkin.jpg">
                 <h2>Rand Fishkin</h2>
                 <p>He's founder and former CEO of Moz, co-author of a pair of books on SEO, and co-founder of Inbound.org.</p>
              </a>
           </div>

        </div>
     </div>

  </ion-content>
</ion-view>
